.gallery-images-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-images-container .gallery-card {
  position: relative;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--light-maroon);
  padding: 10px;
  box-shadow: 0px 1px rgba(var(--maroon-rgb-shadow), 0.9),
    0px 2px rgba(var(--maroon-rgb-shadow), 0.9),
    0px 3px rgba(var(--maroon-rgb-shadow), 0.9), 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.gallery-images-container .bottom {
  display: flex;
  justify-content: space-around;
}

.gallery-images-container .bottom-col {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.gallery-images-container .bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ranchers', sans-serif;
  color: var(--light-beige);
  letter-spacing: 1px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7), 2px 2px rgba(0, 0, 0, 0.7),
    3px 3px rgba(0, 0, 0, 0.7);
}

.gallery-images-container .gallery-property-header {
  margin-left: 10px;
  margin-right: 5px;
  color: var(--logo-red);
}

.checkbox-container input {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

/* Styling the private image form */
.private-photo-input-container {
  position: absolute;
  top: -10px;
  right: -10px;
}

.private-photo-input-container input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.private-photo-input-container input::after {
  content: '';
  background: url('../resources/images/unlockedLock.png');
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  left: -25px;
}

.private-photo-input-container input:checked::after {
  background: url('../resources/images/lockedLock.png');
}
